# agent.py
    GOOGLE_GENAI_USE_VERTEXAI=0 # Configure ADK to use API keys directly (not Vertex AI for this multi-model setup)
    GOOGLE_API_KEY=<your google api key>
    # FIREBASE_CREDENTIALS=firebase_credentials.json
    GOOGLE_GENAI_MODEL=<your model name> # e.g., gemini-2.0-flash
    # GOOGLE_CLOUD_PROJECT=<your google cloud project>
    # GOOGLE_CLOUD_LOCATION=<your google cloud location> # e.g., us-central1