**/*__pycache__*/
**/.env
/flask_api/templates
**/*ignore*/
**/img_content
**/uploads
/venv-linux
/venv-windows
/ignore-notes.md
# **/*.keras
**/serviceAccountKey.json
**/gcp_service_account.json
**/firebase_credentials.json
**/firebaseConfig.json