**/.env
**/serviceAccountKey.json
**/*ignore*/
# **/*.keras
**/*__pycache__*/
**/img_content
**/uploads
/.venv # /MapleMasala
/ignore-notes.md
**/gcp_service_account.json
**/firebase_credentials.json
/flask_api/templates