SERVICE_NAME=<name of your service>
GOOGLE_CLOUD_PROJECT=<your-gcp-project-id>
GOOGLE_CLOUD_LOCATION=<your-gcp-region>
# IMAGE=gcr.io/<your-gcp-project-id>/<your-image-name>
DOCKERFILE=<path to your dockerfile>
# main_api.py
    API_PORT=8080 # This is the port the Flask API will run on.
    CLASSIFICATION_URL=<location of classification service>  # e.g., http://localhost:8000/
# firebase_store.py
    FIREBASE_CREDENTIALS=<path to firebase credentials>  # e.g., firebase_credentials.json
# gcp_docai.py
    GOOGLE_APPLICATION_PATH=<path to gcp service account> # e.g., gcp_service_account.json
    DOCUMENT_AI_PROCESSOR_URL=<location of document AI processor>  # e.g., https://us-documentai.googleapis.com/v1/projects/your-project-id/locations/us/processors/your-processor-id